.porbazdid-part-container{
  display: flex;
  justify-content: space-between;
  background-color: #494b4a;
  border-radius: 2rem;
  padding: 2.5rem 1.5rem;
  margin: 1rem 0;

}

.porbazdid-part-container .right{
 display: flex;
 align-items: center;
 justify-content: center;
 max-width: 8rem;
}

.porbazdid-part-container .right img{
  width: 100%;
  height: auto;
}

.porbazdid-part-container .left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--white);
  text-align: left;
}

.porbazdid-part-container .left .title{
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  font-weight: 600;
}
