.accessory-gardanband-container{
  border: 1px solid #9999995a;
  border-radius: 2.1rem;
  padding: 2rem 2rem 0;
  margin: 1rem 0 1.5rem;
}

.accessory-gardanband-container .accessory-gardanband-slider{
  
}