@font-face {
  font-family: yekan;
  src: url(./Font/Yekan.ttf);
}

html {
  font-size: 62.5%;
}

:root{
  --main-color : #CBA583;
  --dark : #111;
  --white : #fff;
  --light-gray: #eceff7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: yekan,Arial, Helvetica, sans-serif !important;
  height: 100vh;
  line-height: 1.6;
  font-size: 1.6rem !important;
  direction: rtl;
}


ul{
  list-style-type: none;
}