@font-face {
  font-family: shabnam;
  src: url(./Font/ShabnamLightFD.ttf);
}


html {
  font-size: 62.5%;
}

:root{
  --main-color : #CBA583;
  --dark : #111;
  --white : #fff;
  --light-gray: #eceff7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: shabnam,Arial, Helvetica, sans-serif !important;
  height: 100vh;
  line-height: 1.6;
  font-size: 1.6rem !important;
  direction: rtl;
}


ul{
  list-style-type: none;
}


/* این کلاس مربوط به تیره شدن صفحه پس از کلیک بر روی یکسری
از المان ها میباشد */
.overly{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none; 
  z-index: 99999999;
}

.overly.active {
  display: block;
}