.porbazdid-container{
  background: linear-gradient(to bottom,#aa9f8b,#7b7b7a);
  border-radius: 2rem;
  padding: 2rem;
}

.porbazdid-container .porbazdid-container-row{
  gap: 3rem;
  align-items: center;
}

.porbazdid-container .rightside{

}

.porbazdid-container .leftside{
  height: 100%;

}

.porbazdid-container .leftside .slider-box{
  border: 1px solid red;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem 1rem 4rem;
}

.porbazdid-container .leftside .slider-box .slider-box-title{
  color: var(--white);
  font-weight: 500;
  border-bottom: 1px solid var(--white);
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.porbazdid-container .leftside .slider-box .slider-item{

}

.porbazdid-container .leftside .slider-box .slider-item .top{
  margin-bottom: 3rem;

}

.porbazdid-container .leftside .slider-box .slider-item .top .image{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.porbazdid-container .leftside .slider-box .slider-item .top .image::before{
  content: '';
  position: absolute;
  background-color: #cdab7d;
  width: 21rem;
  height: 10rem;
  border-radius: 1.5rem;
  z-index: -20;
}

.porbazdid-container .leftside .slider-box .slider-item .top .image img{
  max-width: 12rem;
  z-index: 999;
}

.porbazdid-container .leftside .slider-box .slider-item .bottom{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--white);
}

